@{
    ViewBag.Title = "FakeREST by Sandeep";
}

<div class="jumbotron">
    <h1>FakeREST</h1>
    <p class="lead">This small project provides dummy REST APIs to test with your development. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Open Source</h2>
        <p>
            You can check the souce code in GitHub.
        </p>
        <p><a class="btn btn-primary" href="https://github.com/sandeepparekh9/FakeRest">Source Code &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Regularly Maintained</h2>
        <p>New functionaly and datasets are added regulary.</p>
        <p><a class="btn btn-primary" href="#">DataSets &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Host it Yourself</h2>
        <p>The code is readily available in Github and you can host it yourself on cloud or use locally</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div id="datasets"><h3 class="panel-title">Available Datasets</h3></div>
            </div>
            <div class="panel-body">
                <ol>
                    <li><a href="#userDataSet">Users</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div id="userDataSet">
                    <h3 class="panel-title">Users</h3>
                </div>
            </div>
            <div class="panel-body">
                
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>GET</td>
                            <td><a href="/api/user">/api/user</a></td>
                            <td>Gets all users</td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td><a href="/api/user/1">/api/user/1</a></td>
                            <td>Gets user with Id=1</td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td><a href="/api/user?q=Malory">/api/user?q=Malory</a></td>
                            <td>Full text search for query param "q"</td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td><a href="/api/user?page=2&limit=30">/api/user?page=2&limit=30</a></td>
                            <td>Gets page 2 of size 30</td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td><a href="/api/user?sortField=FirstName&order=DESC">/api/user?sortField=FirstName&order=DESC</a></td>
                            <td>"DESC"/"ASC" Order by supplied "sortField"</td>
                        </tr>
                            
                        <tr>
                            <td>GET</td>
                            <td><a href="/api/user?q=Female&page=2&limit=30&sortField=FirstName&order=DESC">/api/user?q=Female&page=2&limit=30&sortField=FirstName&order=DESC</a></td>
                            <td>Search for all record containing Female text and gets Page 2 of size 30 from return resulted ordered by FirstName in Descending order</td>
                        </tr>

                        <tr>
                            <td>POST</td>
                            <td>/api/user</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>PUT</td>
                            <td>/api/user</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>DELETE</td>
                            <td>/api/user/1</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                
            </div>
        </div>
    </div>
</div>